@import "tailwindcss";

:root {
  --background: rgba(15, 23, 42, 1);
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-serif: var(--font-playfair-display-serif);
}

/* template breakpoints */
@layer base {
  h1 {
    @apply text-6xl font-bold tracking-tight sm:text-7xl xl:text-8xl;
  }

  h2 {
    @apply text-2xl font-bold tracking-tight sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
  }

  h3 {
    @apply text-xl font-semibold tracking-tight sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  h4 {
    @apply text-lg font-semibold tracking-tight sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  h5 {
    @apply text-base font-medium tracking-tight sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  h6 {
    @apply text-sm font-medium tracking-tight sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
  }

  p {
    @apply leading-relaxed font-medium;
    /* sm:text-lg md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl; */
  }
}

body {
  @apply overflow-hidden bg-gradient-to-br from-[rgba(15,23,42,1)] via-[rgba(30,58,138,1)] via-50% to-[rgba(15,23,42,1)] bg-cover bg-no-repeat;
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: -webkit-fill-available;
}

.text-gradient {
  @apply bg-gradient-to-br from-[rgba(255,255,255,1)] via-[rgba(191,219,254,1)] via-30% to-[rgba(165,243,252,1)] bg-clip-text bg-no-repeat text-transparent drop-shadow-md drop-shadow-white/50;
}

.bg-gradient {
  @apply bg-gradient-to-r from-[rgba(37,99,235,1)] to-[rgba(8,145,178,1)] bg-no-repeat drop-shadow-md drop-shadow-black/20;
}

body > div {
  filter: blur(10px);
  animation: blurAnimation 0.3s ease-in forwards;
}

@keyframes blurAnimation {
  20% {
    filter: blur(8px);
  }
  90% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-32px);
  }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
